body {
  font-family: 'Times New Roman', Georgia;
  margin: 0;
  padding: 0;
}

.section-padding {
  padding: 40px 80px;
}

#header {
  display: grid;
  padding: 10px 50px;
  background: rgb(209, 203, 187);
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#icons {
  list-style: none;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 35px;
}

#icons li {
  list-style: none;
  padding: 0 3px;
  color: black;
}

#icons li a {
  color: black;
}

#navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#navbar a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 500;
}

#navbar a:hover {
  color: #5f5d59;
}

#new-arrivals {
  padding: 20px;
  text-align: center;
}

#new-arrivals h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product-grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

#top-picks {
  padding: 20px;
  text-align: center;
}

#top-picks h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
}

.product-grid img {
  width: 45%;
  height: auto;
  object-fit: cover;
  border-radius: 60px;
}

#categories {
  padding: 20px;
  text-align: center;
}

#categories h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.category img {
  width: 45%;
  height: auto;
  object-fit: cover;
  border-radius: 60px;
}

.category p {
  text-align: center;
  margin-top: 10px;
}

footer {
  background-color: rgb(209, 203, 187);
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

footer .customer-service,
footer .company-info,
footer .social-media {
  text-align: center;
}

footer .social-media a {
  margin: 0 10px;
}

footer .social-media img {
  width: 30px;
  height: 30px;
}

.contact {
  text-align: center;
  padding: 50px;
  min-height: 100vh;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.container h2 {
  font-size: 35px;
  margin-bottom: 40px;
  color: black;
}

.contact-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 70px;
}

.contact-form {
  text-align: left;
}

.contact-form h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

.form-details {
  margin-bottom: 20px;
}

.error-message {
  color: black;
}

input, textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #f8f9fa;
  color: black;
}

button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #5d5752;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  color: #000000;
  background-color: #5d5752;
}

.contact-info {
  text-align: left;
}

.contact-info h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

.contact-info p {
  margin-bottom: 10 px;
  color: #555;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }
  .contact-wrapper {
    grid-template-columns: 1fr;
  }

  #header {
    padding: 20px;
  }
}


.form-details {
  margin-bottom: 20px;
}

.error-message {
  color: black;
}

input, textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #f8f9fa;
  color: black;
}

button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #5d5752;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  color: #000000;
  background-color: #5d5752;
}

.contact-info {
  text-align: left;

}

.contact-info h3{
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

.contact-info p {
  margin-bottom: 10 px;
  color: #555;
}

@media screen and (max-width: 768px){
  .container {
    padding: 20px;
  }
  .contact-wrapper {
    grid-template-columns: 1fr;
  }

  #header {
    padding: 20px;
  }
} #header {
    padding: 20px;
  }
}
